   # Recursos Humanos: Quem irá pedir demissão:

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
arquivo = 'D:/Projetos_Data_Science/Projeto RH/Data/HRDataset_v13.csv'
df = pd.read_csv(arquivo, sep=',', header = 0)

In [3]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Brown, Mia",1.103024e+09,1.0,1.0,0.0,1.0,1.0,3.0,1.0,28.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Diversity Job Fair,Fully Meets,2.04,2.0,6.0,1/15/2019,0.0
1,"LaRotonda, William",1.106027e+09,0.0,2.0,1.0,1.0,1.0,3.0,0.0,23.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,4.0,4.0,1/17/2019,0.0
2,"Steans, Tyrone",1.302053e+09,0.0,0.0,1.0,1.0,1.0,3.0,0.0,29.00,...,Admin Offices,Brandon R. LeBlanc,1.0,Internet Search,Fully Meets,3.90,5.0,5.0,1/18/2019,0.0
3,"Howard, Estelle",1.211051e+09,1.0,1.0,0.0,1.0,1.0,3.0,0.0,21.50,...,Admin Offices,Brandon R. LeBlanc,1.0,Pay Per Click - Google,Fully Meets,3.24,3.0,4.0,NaN,NaN
4,"Singh, Nan",1.307060e+09,0.0,0.0,0.0,1.0,1.0,3.0,0.0,16.56,...,Admin Offices,Brandon R. LeBlanc,1.0,Website Banner Ads,Fully Meets,5.00,3.0,5.0,1/15/2019,0.0

In [13]:
df.shape

(401, 35)

#### Iremos dropar as linhas e colunas com valores nulos

In [4]:
## Dropamos linhas da qual possuem todas as colunas nulas
df.dropna(how = 'all', inplace = True)

In [5]:
## Dropamos todas as colunas que possuem os valores zerados
df = df.dropna(how='all', axis=1)

In [6]:
df.shape

(310, 35)

In [7]:
df.iloc[7]

Employee_Name                    Carter, Michelle
EmpID                                  1.40307e+09
MarriedID                                        0
MaritalStatusID                                  0
GenderID                                         0
EmpStatusID                                      1
DeptID                                           6
PerfScoreID                                      3
FromDiversityJobFairID                           0
PayRate                                         55
Termd                                            0
PositionID                                       3
Position                        Area Sales Manager
State                                           VT
Zip                                           5664
DOB                                       05/15/63
Sex                                              F
MaritalDesc                                 Single
CitizenDesc                             US Citizen
HispanicLatino                                  No
RaceDesc                                     White
DateofHire                               8/18/2014
DateofTermination                              NaN
TermReason                    N/A - still employed
EmploymentStatus                            Active
Department                                   Sales
ManagerName                             John Smith
ManagerID                                       17
RecruitmentSource                        Billboard
PerformanceScore                       Fully Meets
EngagementSurvey                                 5
EmpSatisfaction                                  5
SpecialProjectsCount                             0
LastPerformanceReview_Date               1/21/2019
DaysLateLast30                                   0
Name: 7, dtype: object

### Valores Missing

In [8]:
df['DaysLateLast30'] = df['DaysLateLast30'].fillna(0)

In [9]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
PayRate                         0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      1
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date    103
DaysLateLast30                  0
dtype: int64

### Convertendo para Datas

In [10]:
df['DOB'] = pd.to_datetime(df['DOB'])
df['DateofHire'] = pd.to_datetime(df['DateofHire'])
df['DateofTermination'] = pd.to_datetime(df['DateofTermination'])
df['LastPerformanceReview_Date'] = pd.to_datetime(df['LastPerformanceReview_Date'])

### Processamento dos dados

In [20]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'PayRate', 'Termd', 'PositionID', 'State', 'Zip', 'DOB', 'Sex',
       'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'DateofHire',
       'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department',
       'ManagerID', 'RecruitmentSource', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'LastPerformanceReview_Date', 'DaysLateLast30'],
      dtype='object')

In [18]:
colunas = ['MaritalDesc', 'Position', 'ManagerName', 'Employee_Name' , 'TermReason', 'RecruitmentSource']
df.drop(colunas, axis=1, inplace=True)

In [ ]:
df.drop(['DateofTermination'], axis=1, inplace=True)

In [21]:
df.shape

(310, 32)

In [80]:
import numpy as np
from datetime import date
data_atual = date.today()

In [23]:
df['LastDayWorked'] = df['DateofTermination']
df['LastDayWorked'].fillna(df['LastPerformanceReview_Date'].max(),inplace=True)
df['NbrDayWorked'] = (df['LastDayWorked']-df['DateofHire'])//np.timedelta64(1,'D')
del df['LastDayWorked']
print(df['NbrDayWorked'].max(),df['NbrDayWorked'].min())

4798 2

In [24]:
df["PayRateBin10"] = pd.cut(df["PayRate"],8, labels=[10,20,30,40,50,60,70,80])

In [25]:
df["PayRateBin10"] = df["PayRateBin10"].astype('int64')

In [26]:
df['HispanicLatino'] = df['HispanicLatino'].str.upper()
df['HispanicLatino'].value_counts()

NO     282
YES     28
Name: HispanicLatino, dtype: int64

### Montando o datafreme final, para aplicar o machine learning

#### Transformando para variáveis categoricas

In [29]:
df.head(5)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,...,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,NbrDayWorked,PayRateBin10
0,"Brown, Mia",1.103024e+09,1.0,1.0,0.0,1.0,1.0,3.0,1.0,28.50,...,1.0,Diversity Job Fair,Fully Meets,2.04,2.0,6.0,2019-01-15,0.0,3776,20
1,"LaRotonda, William",1.106027e+09,0.0,2.0,1.0,1.0,1.0,3.0,0.0,23.00,...,1.0,Website Banner Ads,Fully Meets,5.00,4.0,4.0,2019-01-17,0.0,1879,20
2,"Steans, Tyrone",1.302053e+09,0.0,0.0,1.0,1.0,1.0,3.0,0.0,29.00,...,1.0,Internet Search,Fully Meets,3.90,5.0,5.0,2019-01-18,0.0,1613,20
3,"Howard, Estelle",1.211051e+09,1.0,1.0,0.0,1.0,1.0,3.0,0.0,21.50,...,1.0,Pay Per Click - Google,Fully Meets,3.24,3.0,4.0,NaT,0.0,58,10
4,"Singh, Nan",1.307060e+09,0.0,0.0,0.0,1.0,1.0,3.0,0.0,16.56,...,1.0,Website Banner Ads,Fully Meets,5.00,3.0,5.0,2019-01-15,0.0,1399,10

In [30]:
df['EmploymentStatus'].unique()

array(['Active', 'Terminated for Cause', 'Voluntarily Terminated',
       'Future Start', 'Leave of Absence'], dtype=object)

In [33]:
# Estou selecionando apenas funcionários que tenham a classe de Active ou Voluntarily Terminated.
df_final = df[df['EmploymentStatus'].isin(['Active','Voluntarily Terminated'])].copy()

In [34]:
df_final['EmploymentStatus'].value_counts()

Active                    182
Voluntarily Terminated     88
Name: EmploymentStatus, dtype: int64

### Transformando as variaveis categoricas

In [45]:
keepColCat = ['State', 'Sex', 'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'Department','PerformanceScore']

In [67]:
df_final1 = pd.get_dummies(df_final,columns=keepColCat,dtype=float)

In [ ]:
df_final1['ManagerID'].fillna(39, inplace=True)

### Transformar atributos Datetime em Int (numeros ordinais)

In [85]:
import datetime as dt
df_final1['DOB']=df_final1['DOB'].map(dt.datetime.toordinal)
df_final1['DateofHire']=df_final1['DateofHire'].map(dt.datetime.toordinal)
df_final1['LastPerformanceReview_Date']=df_final1['LastPerformanceReview_Date'].map(dt.datetime.toordinal)

### Dividindo os dados em treino e teste

In [208]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_final1.drop('EmploymentStatus',axis=1),df_final1['EmploymentStatus'],test_size=0.3)

### Verificando a forma dos dados

In [209]:
X_train.shape,X_test.shape

((189, 72), (81, 72))

In [210]:
y_train.shape,y_test.shape

((189,), (81,))

### Instânciando o algoritmo KNN

In [211]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

### Treinando o algoritmo

In [212]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

### Executando o KNN com o conjunto de teste

In [213]:
resultado = knn.predict(X_test)
resultado

array(['Active', 'Active', 'Active', 'Voluntarily Terminated', 'Active',
       'Active', 'Active', 'Active', 'Voluntarily Terminated', 'Active',
       'Active', 'Voluntarily Terminated', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Voluntarily Terminated', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Voluntarily Terminated', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Voluntarily Terminated', 'Active',
       'Active', 'Active', 'Active', 'Voluntarily Terminated', 'Active',
       'Voluntarily Terminated', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active',
       'Voluntarily Terminated', 'Voluntarily Terminated',
       'Voluntarily Terminated', 'Active', 'Active', 'Active', 'Active',
       'Active', 'Active', 'Active', 'Active', 'Active'], dtype=object)

## Técnicas de Validação

### Matriz de Confusão

In [214]:
print (pd.crosstab(y_test,resultado, rownames=['Real'], colnames=['          Predito'], margins=True))

          Predito       Active  Voluntarily Terminated  All
Real
Active                      56                       0   56
Voluntarily Terminated      14                      11   25
All                         70                      11   81

In [ ]:
## Para a classe VOLUNTARILY TERINATED, ficou baixo a quantidade de acertos para o K=3, desta forma iremos otimizar o K

## Otimizando o Parametro K

### Importando o GridSearch

In [215]:
from sklearn.model_selection import GridSearchCV

### Definindo a lista de valores para o parametro

In [233]:
knn = KNeighborsClassifier( )
k_range = list(range(1,31))
k_values = dict(n_neighbors=k_range)

### Instânciando o objeto GridSearch

In [234]:
grid = GridSearchCV(knn, k_values, cv=5, scoring = 'accuracy')

### Treinando o objeto

In [235]:
grid.fit(df_final1.drop('EmploymentStatus',axis=1),df_final1['EmploymentStatus'])

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

### Visualizando os valores de scores

In [236]:
print("Melhor valor de k = {} com o valor {} de acurácia".format(grid.best_params_,grid.best_score_))

Melhor valor de k = {'n_neighbors': 1} com o valor 0.8407407407407408 de acurácia