In [2]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [4]:
# Importando as bibliotecas que iremos utilizar
import pandas as pd
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

A primeira fase do nosso projeto, será comparar strings que estão disponibeis em 2 colunas e realizar a comparacão entre elas,
mostrando qual o valor da similaridade.
Na biblioteca Fuzzywuzzy, utilizamos 3 parametros de score: ratio, part_ratio e a partial_token_sort_ratio. Para maiores detalhes podem consultar a biblioteca. https://pypi.org/project/fuzzywuzzy/

#### Realizando a leitura do arquivo

In [9]:
df = pd.read_csv('Nomes.csv', header=0, sep=';')

In [10]:
df.head()

                        Nome1                     Nome2
0  Leandro Galindo de Almeida  ;Almeida,Leandro Galindo
1               Bruna Santana               Buna Santan
2               Raul Galindo;                  Raul Gal

### Criamos uma função para comparar dados entre 2 colunas

In [11]:
def Apply_Fuzzy(dados1,dados2):
    return fuzz.partial_token_sort_ratio(dados1,dados2)

In [21]:
# Aplicando a função utilizando 2 colunas
df['Similaridade'] = df['Nome1'].astype(object).combine(df['Nome2'], func=Apply_Fuzzy)

In [22]:
df.head()

                        Nome1                     Nome2  Similaridade
0  Leandro Galindo de Almeida  ;Almeida,Leandro Galindo            87
1               Bruna Santana               Buna Santan            91
2               Raul Galindo;                  Raul Gal            62

In [25]:
fuzz.partial_token_sort_ratio('Leandro Galindo de Almeida', ';Almeida,Leandro Galindo')

87

In [26]:
fuzz.partial_token_sort_ratio('Bruna Santana', 'Buna Santan')

91

### Outra maneira de aplicar a função (Aplly Fuzzy) em 2 colunas

In [30]:
df.index.tolist()

[0, 1, 2]

In [40]:
similaridade = []
for ind in df.index:
    resultado = Apply_Fuzzy(df['Nome1'][ind], df['Nome2'][ind])
    similaridade.append(resultado)

In [44]:
similaridade

[87, 91, 62]

In [42]:
df['Similaridade2'] = similaridade

In [43]:
df.head()

,Nome1,Nome2,Similaridade,Similaridade2
0,Leandro Galindo de Almeida,";Almeida,Leandro Galindo",87,87
1,Bruna Santana,Buna Santan,91,91
2,Raul Galindo;,Raul Gal,62,62

### Utilizando a mesma biblioteca, para verificar a similaridade dentre uma lista de nomes

In [51]:
df2 = pd.read_csv('Clientes.csv', header=0, sep=';')

In [52]:
df2.head(10)

                             CLIENTES
0                       Bruna Santana
1                       Raul Galindo;
2                       Leandro galin
3            Almeida, galindo leandro
4                       leand galindo
5                     leandro almeida
6   Leandro Galindo de Almeida…....**
7  !!!! Leandro galindo de Almeida;;;

In [45]:
from fuzzywuzzy import process

In [55]:
process.extract('Leandro Galindo de Almeida', df2['CLIENTES'], scorer = fuzz.ratio, limit=5)

[('Leandro Galindo de Almeida…....**', 100, 6),
 ('!!!! Leandro galindo de Almeida;;;', 100, 7),
 ('leandro almeida', 73, 5),
 ('Leandro galin', 67, 2),
 ('leand galindo', 67, 4)]

In [58]:
process.extract('Leandro Galindo de Almeida', df2['CLIENTES'], scorer = fuzz.partial_ratio, limit=5)

[('Leandro galin', 100, 2),
 ('Leandro Galindo de Almeida…....**', 100, 6),
 ('!!!! Leandro galindo de Almeida;;;', 100, 7),
 ('leand galindo', 85, 4),
 ('leandro almeida', 80, 5)]

In [57]:
process.extract('Leandro Galindo de Almeida', df2['CLIENTES'], scorer = fuzz.partial_token_sort_ratio, limit=5)

[('leand galindo', 100, 4),
 ('Leandro Galindo de Almeida…....**', 100, 6),
 ('!!!! Leandro galindo de Almeida;;;', 100, 7),
 ('Almeida, galindo leandro', 87, 3),
 ('Leandro galin', 85, 2)]

#### Mas e se você quer apenas a string mais similar e quer que retorne apenas strings com uma similaridade 
#### igual ou superior a 95, use a função extractOne() com o parâmetro score_cutoff=95. Veja:

In [60]:
process.extractOne('Leandro Galindo de Almeida', df2['CLIENTES'], scorer = fuzz.ratio, score_cutoff=95)

('Leandro Galindo de Almeida…....**', 100, 6)

In [ ]:
df